span {
color:#FF0008;
background-color: white;
padding-left: 20px;
padding-right: 20px;
width:780px;
margin:auto;
border:5px solid ##174460;
border-radius:10px;
box-shadow:2px 4px 3px black;
background-color:#FFFFFF;
}

body {
text-align:center;
background-image: url(images/fond.jpg);
background-size:contain;
font-family: "Patua One", cursive;
 }

 section{
   width:400px;
   margin:5px;
   padding:5px;
   border:5px solid ##174460;
   border-radius:10px;
   box-shadow:2px 4px 3px black;
   background-color:#FFFFFF;
 }
img {
  height:250px;
  width:350px;
}

.right {
  float: right;
  width: 350px;
}
.left{
  clear: both;
}

.inline{
  display: inline-block;
}

.hidden{
  visibility: hidden;
}

.bottom{
  margin-top: 100px;
}
